
:root{
  --cor1: #12130f;
  --cor2: #eae6e5;
  --cor3: #8fcb9b;
  --cor4: #5b9279;
}


@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--cor3);
  color: var(--cor1);
}

div.imagem {
  background-image: url(https://i.pinimg.com/originals/61/12/3d/61123d1f7c5b6d02626d8012838ac18e.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor2);
  text-transform: uppercase;
  text-shadow: -2px 2px 5px var(--cor1);
  font-size: xx-large;
}

div.countainer {
  text-align: justify;
  font-size: larger;
}

div.conteudo {
  height: 100vh;
}

div.conteudo p{
  margin: 10px;
}

div.centralizado h1 {
  text-align: center;
}

div li {
  margin: 10px;
}

div.exerciciosImg{
  display: flex;
  align-items: center;
  justify-content: center;
}

div#box1{
  display: flexbox;
  margin: 30px;
  background-color: var(--cor1);
  border: 1px solid var(--cor1);
  border-radius: 10px;
  color: var(--cor2);
}

div.box2{
  border: 1px solid var(--cor1);
  border-radius: 10px;
  background-color: var(--cor2);
  margin: 10px;
  list-style: none;
  text-decoration: none;
}

div#secao3{
  height: 460vh;
}


div.voltar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

div.voltar a {
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.3s;
  color: var(--cor1);
  background-color: var(--cor2);
  border: 1px solid var(--cor1);
  list-style: none;
  text-decoration: none;
  font-size: x-large;
  margin: 10px;
}

div.voltar a:hover {
  background-color: var(--cor1);
  color: var(--cor2);
  border: 1px solid var(--cor3);
}

ul#menu {
  background-color: var(--cor1);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-weight:600;
}

ul#menu a {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  color: var(--cor2);
  background-color: var(--cor4);
  border: 1px solid var(--cor1);
  list-style: none;
  text-decoration: none;
  font-size: x-large;
}

ul#menu a:hover {
  background-color: var(--cor2);
  color: var(--cor1);
  border: 1px solid var(--cor3);
}

div#rodape p{
  text-align: center;
}