*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

div.container{
    width: 100vw;
    height: 100vh;
}

ul#menu{
    background-color: rgb(26, 26, 26);
}

div#cabecalho{
    height: 100vh;
    width: 100vw;   
}

div#secao1{
    height: 100vh;
    width: 100vw;   
}

div#secao2{
    height: 100vh;
    width: 100vw;   
}

ul#menu li{
    width: 120px;
    padding: 10px;
    display: inline-block;
    border: 1px solid rgb(26, 26, 26);
}

ul#menu a{
    width: 120px;
    padding: 10px;
    transition: 0,3s;
    color: white;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(26, 26, 26);
    list-style: none;
    text-decoration: none;
}

ul#menu a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}