@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  scroll-behavior: smooth;
  background-color: lightblue;
}

div.imagem {
  background-image: url(https://i.pinimg.com/originals/61/12/3d/61123d1f7c5b6d02626d8012838ac18e.jpg);
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-shadow: -2px 2px 5px black;
  font-size: xx-large;
}

div.countainer h1 {
  text-align: center;
}

div.countainer {
  text-align: justify;
  font-size: larger;
}

div.conteudo {
  height: 100vh;
}

div.voltar {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

div.voltar a {
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.3s;
  color: black;
  background-color: white;
  border: 1px solid black;
  list-style: none;
  text-decoration: none;
  font-size: x-large;
}

div.voltar a:hover {
  background-color: black;
  color: white;
}

ul#menu {
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

ul#menu a {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  color: black;
  background-color: white;
  border: 1px solid black;
  list-style: none;
  text-decoration: none;
  font-size: x-large;
}

ul#menu a:hover {
  background-color: black;
  color: white;
}
